
.page-quotes .header-with-hero{
    font-family:'Maven Pro', sans-serif, Helvetica, Arial;
    font-weight:500;
}
.page-quotes .header-with-hero .header a,.page-quotes .header-with-hero .header a:hover{
    color:#333;
}
.page-quotes .header-with-hero .header .nav a{
    color:rgba(255,255,255,0.5)
}
.page-quotes .header-with-hero .header .nav a.active,.page-quotes .header-with-hero .header .nav a:hover{
    color:#333
}
.page-quotes .header-with-hero .header .nav a.active:after{
    background:#FF5A5A
}
.page-quotes .quote{
    padding:15vh 0;
    margin-bottom:15vh;
    font-style:italic;
    position:relative
}
@media only screen and (min-width: 600px){
    .page-quotes .quote{
        text-align:center
    }
}
.page-quotes .quote p{
    quotes:"“" "”" "‘" "’";
    margin-bottom:0;
    font-size:1.2em;
    line-height:1.5;
    text-indent:-0.375em
}
@media only screen and (min-width: 600px){
    .page-quotes .quote p{
        font-size:1.4em
    }
}
.page-quotes .quote p:before{
    content:open-quote
}
.page-quotes .quote p:after{
    content:close-quote;
    margin:-0.1em
}
.page-quotes .quote:last-child{
    margin-bottom:0
}
.page-quotes .quote-source{
    font-style:normal;
    text-transform:uppercase;
    font-variant-caps:all-small-caps;
    -ms-font-feature-settings:"c2sc", "smcp";
    -webkit-font-feature-settings:"c2sc", "smcp";
    font-feature-settings:"c2sc", "smcp";
    letter-spacing:0.15em;
    font-size:1.2em;
    font-weight:700;
    display:block;
    margin-top:0.8em
}
.page-quotes .quote-from{
    font-style:italic;
    display:inline-block
}
.header{
    padding-top:20px;
    padding-bottom:20px;
    z-index:1;
    font-weight:400;
    line-height:1.6rem
}
@media only screen and (min-width: 500px){
    .header{
        padding-top:1.6rem;
        padding-bottom:1.6rem
    }
}
.header a{
    -webkit-transition:color 0.2s ease;
    transition:color 0.2s ease
}
.header .logo{
    float:left;
    font-weight:500;
}
.header .nav{
    float:right
}
.header .nav li{
    float:left;
    margin-left:1em
}
@media only screen and (min-width: 450px){
    .header .nav li{
        margin-left:1.5em
    }
}
.header .nav a{
    /*     color:#0E86A3;    */
    display:block;
    position:relative
}
.header .nav a:hover,.header .nav a.active{
    color:#3B3F57
}
.header .nav a.active:after{
    content:'';
    background:#FF5A5A;
    width:100%;
    height:4px;
    border-radius:8px;
    display:block;
    position:absolute;
    left:50%;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%)
}
body:not(.page-about) .header-with-hero{
    position:relative;
    color:rgba(0,0,0,0.4)
}
body:not(.page-about) .header-with-hero .nav a,body:not(.page-about) .header-with-hero .logo{
    color:rgba(0,0,0,0.4)
}
body:not(.page-about) .header-with-hero .nav a:hover,body:not(.page-about) .header-with-hero .nav a.active,body:not(.page-about) .header-with-hero .logo:hover,body:not(.page-about) .header-with-hero .logo.active{
    color:rgba(0,0,0,0.6)
}
body:not(.page-about) .header-with-hero .nav a.active:after,body:not(.page-about) .header-with-hero .logo.active:after{
    background:rgba(0,0,0,0.6)
}

.cf,.wrapper,.wrapper-wide,.footer,.header,.header .menu,.project-overview{
    *zoom:1
}
.cf:before,.wrapper:before,.wrapper-wide:before,.footer:before,.header:before,.header .menu:before,.project-overview:before,.cf:after,.wrapper:after,.wrapper-wide:after,.footer:after,.header:after,.header .menu:after,.project-overview:after{
    content:" ";
    display:table
}
.cf:after,.wrapper:after,.wrapper-wide:after,.footer:after,.header:after,.header .menu:after,.project-overview:after{
    clear:both
}
.wrapper,.wrapper-wide{
    padding:0 16px;
    margin:0 auto
}
@media only screen and (min-width: 500px){
    .wrapper,.wrapper-wide{
        padding:0 1.6rem
    }
}
.wrapper{
    max-width:calc(700px + (8.0rem*2))
}
.wrapper-wide{
    max-width:calc(1100px + (1.6rem*2))
}
